<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quizword</title>
    <link rel="stylesheet" href="../static/style/congratulates.css">
</head>
<body>
    <main>
        <form target="_self" action="/">
            <button class="exit" href="/">
                <span></span><span></span>
            </button>
        </form>
        <div id="congratulates">
            <h1>Упсс..</h1>
            <p>Похоже вы выучили все слова, которые выбирали для изучения</p>
        </div>
    </main>
</body>
</html>