<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous"> -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arbutus&family=Bevan:ital@0;1&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/style/register.css">
    <link rel="stylesheet" href="../static/style/header.css">
    <title>Quizword</title>
</head>
<body>
    <header class="header">
        <nav class="navbar_header">
            <a class="logo" href="/">quizword</a>
            {% if current_user.is_authenticated %}
                <a class="user_name_header" href="/logout">{{ current_user.name }}</a>
            {% else %}
                <div class="register_and_login">
                    <a class="btn_to_register_header" href="/register">Зарегистрироваться</a>
                    <a class="btn_to_login_header" href="/login">Войти</a>
                </div>
            {% endif %}
        </nav>
    </header>
<!-- Begin page content -->
<main role="main" class="container">
    <div class="main">
        <div class="register">
            <h1>Регистрация</h1>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.email.label(class="form-label") }}<br>
                    {{ form.email(class="form-control", type="email") }}<br>
                    {% for error in form.email.errors %}
                        <p class="error" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password.label(class="form-label") }}<br>
                    {{ form.password(class="form-control", type="password") }}<br>
                    {% for error in form.password.errors %}
                        <p class="error" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                </p>
                <p>
                    {{ form.password_again.label(class="form-label") }}<br>
                    {{ form.password_again(class="form-control", type="password") }}<br>
                    {% for error in form.password_again.errors %}
                        <p class="error" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                </p>
                <p>
                    {{ form.name.label(class="form-label") }}<br>
                    {{ form.name(class="form-control") }}<br>
                    {% for error in form.name.errors %}
                        <p class="error" role="alert">
                            {{ error }}
                        </p>
                    {% endfor %}
                </p>
                <p>{{ form.submit(type="submit", class="btn_register") }}</p>
                <div class="message">{{message}}</div>
            </form>
        </div>
    </div>
</main>
</body>
</html>